:root {

	--c0:#000000;
	--c1:#5f5750;
	--c2:#82759a;
	--c3:#c0c1c5;
	--c4:#fff0e7;
	--c5:#7d2953;
	--c6:#ff074e;
	--c7:#ff76a6;
	--c8:#a95238;
	--c9:#ffa108;
	--c10:#feeb2c;
	--c11:#ffcaa8;
	--c12:#008551;
	--c13:#00e339;
	--c14:#222e53;
	--c15:#2cabfe;

}

body {
	background:black;
}

#wrapper {
	float:left;
	color:var(--c2);
	position:relative;
	width:300px;
	height:100%;
}

.header {
	color:var(--c15);
	font-family:Tahoma;
	font-weight:bold;
	border:1px solid var(--c12);
	border-bottom:1px solid var(--c13);
	width:100%;
	padding:5px;
	text-align:center;
}

.contractable {

	border:1px solid var(--c11);
	border-width:0px 1px;
	width:100%;
	min-height:50px;
	padding:5px;

}

.contractable::after {

	content:" ";
	display:block;
	height:1px;
	clear:both;

}

.endcap {

	border:1px solid var(--c12);
	border-width:1px 0px 0px 0px;
	width:100%;
	padding:5px;
	height:1px;

}

#overlay {

	float:left;
	width:400px;
	height:100%;
	background-color:rgba(0,0,0,.4);
	margin-left:50px;

}

.ovPkPortrait {

	float:left;
	width:40px;
	height:30px;
	background-image:url("./q7KcXUN.png");

}

.ovPkPortrait:hover {

	box-shadow: inset 0px 0px 0px 3px rgba(255,244,33,1);
	
}

.dragging {

	box-shadow: inset 0px 0px 0px 3px rgba(255,244,33,1);
	opacity:.5;
	position:absolute;
	top:0px;
	left:0px;

}