body {
	background:#000;
}

a, a.visited, a.hover, a.link {
	color:inherit;
	font-decoration:underline;
}

#header {
	height:100px;
	text-align:center;
	color:#CCC;
	line-height:100px;
	font-size:20px;
	font-family:Tahoma;
}

#wrapper {
	position:relative;
	border:1px solid #999;
	margin:auto;
	width:650px;
	height:650px;
}

canvas {
	position:absolute;
	top:0px;
	left:0px;
}

#debug {
	text-align:center;
	color:#999;
}

.projectEntry {

	width:700px;
	color:#999;
	margin:auto;
	border:1px solid #999;
	padding:5px;
	margin-bottom:10px;

}

.projectTitle {

	color:#CCC;
	font-size:20px;
	font-family:Tahoma;

}

.projectText {

	padding:10px;

}